.App {
	padding-top: 3em;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1.5rem;
	max-width: 700px;
	margin-inline: auto;
}

.title {
	font-weight: 300;
	color: var(--gray);
}

.bold {
	font-weight: 700;
	color: black;
}

.notifyform {
	display: grid;
	grid-template-columns: 65% 35%;
	gap: 1rem;
	width: 100%;
}

.notifyform * {
	padding: 1rem 1.5rem;
	border-radius: 999vmax;
}

.notifyform button {
	border: none;
	background-color: var(--blue);
	color: white;
	font-weight: 600;
	box-shadow: 0 10px 15px var(--pale-blue);
	transition: filter 75ms ease-in-out;
	cursor: pointer;
}

.notifyform button:hover {
	filter: brightness(115%);
}

.notifyform input {
	border: solid 2px lightgray;
}

.notifyform input::placeholder {
	color: lightgray;
}

.sociallinks {
	display: flex;
	gap: 0.75em;
}

.copyright {
	font-size: 0.6rem;
	color: var(--gray);
}

@media (max-width: 700px) {
	.notifyform {
		grid-template-columns: 1fr;
		padding-inline: 5%;
	}
}
